<div class="main-header-links">
  {{! <a href="/about" class="header-button" title="About me" id="about-button"><span class="word">About</span></a> }}
  <a href="http://gabrielcarpenedo.com/about" class="header-button" title="About me" id="contact-button">About</a>
  <a href="mailto:gabriel.carpenedo@gmail.com?subject=Hello, I saw your web!" class="header-button" title="Send me an email!" id="contact-button">Contact</a>

  <a href="https://www.behance.net/gabrielcarpenedo" target="_blank" title="My portfolio" class="header-icons icon-behance">
    <i class="fi-social-behance"></i>
  </a>
  <a href="https://github.com/cbgabe" target="_blank" title="My GitHub" class="header-icons icon-github">
    <i class="fi-social-github"></i>
  </a>
  <a href="https://br.linkedin.com/in/gabrielcarpenedo" target="_blank" title="My LinkedIn" class="header-icons icon-linkedin">
    <i class="fi-social-linkedin"></i>
  </a>
  <a href="https://twitter.com/gabecarpenedo" target="_blank" title="My Twitter" class="header-icons icon-linkedin">
    <i class="fi-social-twitter"></i>
  </a>
</div>